.site-logo .text-primary{
    font-size: -webkit-xxx-large;
    font-family: "trebuchet ms";
    border-bottom: 1px solid #ff5e00;
}

.position {
    color: #007bff;
}
#gallery-section {
    margin-bottom: 25rem;
    padding: 2em 0;  
}
#about-section {
    margin-top: 5rem;
}
#contact-section {
    margin-top: 5rem;
    padding: 2em 0;  
}