.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-half-width {
    width: 50%;
  }
  .example-card {
    max-width: 400px;
    text-align: center;
    padding: 15px;
    margin: auto;
  }
  .info-color {
    background-color: #007bff!important;
    /* color: #007bff; */
    border-radius: 4px;
    
  }
  .mat-card-title{
    font-size: 22pt;
    margin-left: 100px;
  }