.example-card {
    /* max-width: 400px; */
  }
  
  .example-header-image {
    background-image: url('../../../../assets/images/logo_new.jpg');
    background-size: cover;
  }
  .mat-card-image {
    width: 80%;
    margin: 0;
    height: -webkit-fill-available;
}