<mat-toolbar class="navBar">
  <mat-toolbar-row>
    <span><img src="assets/images/logo_new.jpg" class="logoimg"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"><h1 class="text-primary">Xcelsior_Biztek</h1></span>
    <span class="example-spacer"></span>

    <!-- <button *ngIf="!btnLoginClick && !loggedIn()" mat-button class="btnLognIN" (click)="loginClick()">Log IN / Sign UP</!--> 
    <ul *ngIf="loggedIn()" class="navbar-nav mr-right">     
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" (click)="logout()" id="dropdown03" dropdownToggle>Welcome {{authService.decodedToken?.unique_name}}</a>
          <!-- <ul class="dropdown-menu" aria-labelledby="dropdown03" *dropdownMenu>
            <li><a class="dropdown-item" [routerLink]="['/user/edit']" routerLinkActive="router-link-active" ><i class="fa fa-user"></i>Edit Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a class="dropdown-item" (click)= "logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ul> -->
        </li>
    </ul>
    <!-- <button mat-button>Contact</button> -->
  </mat-toolbar-row>
</mat-toolbar>