<app-navbar [btnLoginClick] = 'true'></app-navbar>

<mat-card class="example-card">

  <mat-card-header class="info-color">
    <mat-card-title>Sign in</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form #loginForm="ngForm" (ngSubmit)="login()" class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="PAN Number" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher" required maxlength="10" [(ngModel)]="model.panNo">
        <!-- <mat-hint>Errors appear instantly!</!--> 
        <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
          Please enter a valid PAN Number
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          PAN Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="password" [formControl]="passwordFormControl"
               [errorStateMatcher]="matcher" required [(ngModel)]="model.password">
        <!-- <mat-hint>Password should be minimum </mat-hint> -->
        <mat-error *ngIf="passwordFormControl.hasError('minLength') && !passwordFormControl.hasError('required')">
          Please enter a valid Password
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
     

      <div class="d-flex justify-content-around">
          <!-- Remember me -->
          <!-- <mat-checkbox>Remember me</mat-checkbox> -->
        
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      
      </div>
      <!-- Sign in button -->
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="emailFormControl.invalid || 
        passwordFormControl.invalid">Sign In</button>
        <button mat-raised-button color="accent" (click)= "back()">Back</button>
      </mat-card-actions>

      <!-- Register -->
      <p>Not a member?
        <a href="/ITR/register">Register</a>
      </p>

      <!-- Social login -->
      <!-- <p>or sign in with:</p>
      <button mat-mini-fab color="primary">
        <mat-icon>facebook</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>twitter</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>linkedin</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>github</mat-icon>
      </button> -->

    </form>
    <!-- Form -->

  </mat-card-content>

</mat-card>
<!-- Material form login -->